%h1
  Gruppe  
  %strong 
    = @group.name

#schedule

- content_for(:javascript) do
  %script
    = "renderSchedule(" + @group.id.to_s + ");"

- content_for(:stylesheet) do
  = stylesheet_link_tag "group"