//= require_self
//= depend_on common

@import common

ul.timeslot
  list-style-type: none
  margin: 0em
  padding: 0em
  overflow: auto
  position: absolute
  background-color: white
  border-style: solid
  border-width: 1px

div.booking
  border-bottom-style: solid
  border-bottom-width: 1px
  border-bottom-color: #DDDDDD
  font-size: 0.8em
  width: 11em
  overflow: hidden
  
div.booking-selected
  background-color: green

#timeslot0
  height: 3em
#timeslot1
  height: 3em
#timeslot2
  height: 3em
#timeslot3
  height: 3em
#timeslot4
  height: 3em
#timeslot5
  height: 3em
#timeslot6
  height: 3em

.length-90
  height: 3em

.length-195
  height: 7em

.start-815
  top: 6em

.start-1000
  top: 9em

.start-1145
  top: 12em

.start-1330
  top: 15em

.start-1430
  top: 17em

.start-1515
  top: 18em

.start-1545
  top: 19em

.start-1615
  top: 19em

.start-1700
  top: 21em

.start-1845
  top: 24em

#timeslots
  padding-top: 2em  
  +alpha
  +columns(1, 11)

#day1
  +columns(2, 11)

#day2
  +columns(2, 11)

#day3
  +columns(2, 11)

#day4
  +columns(2, 11)

#day5
  +columns(1, 11)