//= require_self
//= depend_on common

@import common

ul.timeslot
  list-style-type: none
  margin: 0em
  padding: 0em
  overflow: hidden  
  overflow-y: auto
  position: absolute
  background-color: white
  border-style: solid
  border-width: 1px
  border-radius: 3px

div.booking
  border-bottom-style: solid
  border-bottom-width: 1px
  border-bottom-color: #DDDDDD
  font-size: 0.8em
  width: 11em
  overflow: hidden
  
div.booking-selected
  background-color: green

$timeslot_height: 5em
#timeslot0
  height: $timeslot_height
#timeslot1
  height: $timeslot_height
#timeslot2
  height: $timeslot_height
#timeslot3
  height: $timeslot_height
#timeslot4
  height: $timeslot_height
#timeslot5
  height: $timeslot_height
#timeslot6
  height: $timeslot_height

.length-90
  height: $timeslot_height

.length-195
  height: $timeslot_height * 2.2

$offset: 1.2
.start-815
  top: $timeslot_height + $offset

.start-1000
  top: $timeslot_height * 2 + $offset

.start-1145
  top: $timeslot_height * 3 + $offset

.start-1330
  top: $timeslot_height * 4 + $offset

.start-1430
  top: $timeslot_height * 4.25 + $offset

.start-1515
  top: $timeslot_height * 5 + $offset

.start-1545
  top: $timeslot_height * 5.25 + $offset

.start-1615
  top: $timeslot_height * 5.5 + $offset

.start-1700
  top: $timeslot_height * 6 + $offset

.start-1845
  top: $timeslot_height * 7 + $offset

#timeslots
  padding-top: 2em  
  +alpha
  +columns(1, 11)

#day1
  +columns(2, 11)

#day2
  +columns(2, 11)

#day3
  +columns(2, 11)

#day4
  +columns(2, 11)

#day5
  +columns(1, 11)